<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/src/public/css/responsividade.css">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a0043d9bc2.js"
      crossorigin="anonymous"
    ></script>
    <title>The Movies Filmes</title>
  </head>
  <body>
    <nav>
      <div id="navBtn">
        <img src="../public/image/iconeMenu.png" alt="" />
      </div>

      <ul class="hide-on-mobile">
        <li class="activeSub"><a href="home.html">HOME</a></li>
        <li class="activePrincipal"><a href="filmes.html">FILMES</a></li>
        <li class="activeSub"><a href="series.html">SÉRIES</a></li>
      </ul>

      <div id="profileMenu" class="profile-menu">
        <a href="naoencontrado.html">Configurações</a>
        <a href="naoencontrado.html">Mudar Perfil</a>
        <a href="naoencontrado.html">Acessar Plano</a>
        <a href="index.html">Sair</a>
      </div>

      <img
        id="profile"
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
        alt=""
      />
    </nav>

    <div class="wrapper">
      <div class="slide-wrapper" data-slide="wrapper">
        <button
          class="slide-nav-button slide-nav-previous fas fa-chevron-left"
          data-slide="nav-previous-button"
        ></button>
        <button
          class="slide-nav-button slide-nav-next fas fa-chevron-right"
          data-slide="nav-next-button"
        ></button>
        <div class="slide-list" data-slide="list">
          <div class="slide-item" data-slide="item" data-index="0">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Coringa2.png"
                alt="Coringa 2"
              />
              <div class="slide-description">
                <h3>Coringa 2</h3>
                <p>Sequência do elogiado filme de 2019, o longa promete ser um dos <br>
                  Grandes lançamentos do ano e já teve novidades deixando muitos fans empolgados</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="1">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/CreedIII.png"
                alt="CreedIII"
              />
              <div class="slide-description">
                <h3>Creed III</h3>
                <p>Adonis Creed tem prosperado com sua carreira e família.Quando um amigo de infância 
                  <br>Um prodígio do boxe, Damian ressurge após uma longa sentença na prisão, 
                  o campeão fica ansioso para provar que merece sua chance</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="2">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Top Gun Maverick.png"
                alt="Top Gun: Maverick"
              />
              <div class="slide-description">
                <h3>Top Gun: Maverick</h3>
                <p>Sequência de Top Gun: Ases Indomáveis. <br>
                  Depois de mais de 30 anos de serviço um dos principais aviadores da Marinha Pete "Maverick" Mitchell está de volta</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="3">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/ArremessandoAlto.png"
                alt="ArremessandoAlto"
              />
              <div class="slide-description">
                <h3>Arremessando Alto</h3>
                <p>Um olheiro de basquete azarado encontra um jogador com um grande potencial e se esforça para mostrar ao mundo que os dois merecem chegar à NBA</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="4">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/FordVsFerrari.png"
                alt="FordVsFerrari"
              />
              <div class="slide-description">
                <h3>Ford Vs Ferrari</h3>
                <p>O projetista Carroll Shelby e o piloto Ken Miles enfrentam a interferência empresarial <br> as leis da física e os próprios demônios para construir um carro de corrida para a Ford derrotar a hegemonia de Enzo Ferrari</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="5">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/StarWarsRiseOfSkywalker.png"
                alt="StarWarsRiseOfSkywalker"
              />
              <div class="slide-description">
                <h3>Star Wars: A Ascensão Skywalker</h3>
                <p>Com o retorno do Imperador Palpatine todos voltam a temer seu poder. <br>A Resistência toma a frente da batalha que ditará os rumos da galáxia.
                  Rey Treinando para ser uma Jedi completa</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="6">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/VelozesEFuriosos.png"
                alt="VelozesEFuriosos"
              />
              <div class="slide-description">
                <h3>Velozes E Furiosos</h3>
                <p>Brian O'Conner é um policial que se infiltra no submundo dos <br>Rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="7">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/BatmanCavaleiroDasTrevas.png"
                alt="BatmanCavaleiroDasTrevas"
              />
              <div class="slide-description">
                <h3>Batman Cavaleiro Das Trevas</h3>
                <p>Após dois anos desde o surgimento do Batman, os criminosos de Gotham City <br> têm muito o que temer.Com a AJuda de James Gordon E Alfred Batman luta contra o crime organizado.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-controls" data-slide="controls-wrapper"></div>
      </div>
    </div>

    <div class="destaques">
      <h1 style="color: white">Populares</h1>
    </div>

    <main id="container" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Mais Vistos</h1>
    </div>

    <main id="container2" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Terror</h1>
    </div>

    <main id="container5" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Ação</h1>
    </div>

    <main id="container6" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Comedia</h1>
    </div>

    <main id="container7" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Romance</h1>
    </div>

    <main id="container8" class="container"></main>
    
    <script src="/index.js"></script>
    <script src="../js/slides.js"></script>
    <script>
      initSlider({
        autoPlay: true,
        startAtIndex: 0,
        timeInterval: 2000,
      });
    </script>
  </body>
</html>
