<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/src/public/css/responsividade.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a0043d9bc2.js"
      crossorigin="anonymous"
    ></script>
    <title>The Movies Home</title>
  </head>
  <body>
    <nav>
      <div id="navBtn">
        <img src="../public/image/iconeMenu.png" alt="" />
      </div>

      


</div>
      <ul class="hide-on-mobile">
        <li class="activePrincipal"><a href="home.html">HOME</a></li>
        <li class="activeSub"><a href="filmes.html">FILMES</a></li>
        <li class="activeSub"><a href="series.html">SÉRIES</a></li>
</ul>



      <div id="profileMenu" class="profile-menu">
        <a href="naoencontrado.html">Configurações</a>
        <a href="naoencontrado.html">Mudar Perfil</a>
        <a href="naoencontrado.html">Acessar Plano</a>
        <a href="index.html">Sair</a>
      </div>
      
      <img
        id="profile"
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
        alt=""
      />
    </nav>

    <div class="wrapper">
      <div class="slide-wrapper" data-slide="wrapper">
        <button
          class="slide-nav-button slide-nav-previous fas fa-chevron-left"
          data-slide="nav-previous-button"
        ></button>
        <button
          class="slide-nav-button slide-nav-next fas fa-chevron-right"
          data-slide="nav-next-button"
        ></button>
        <div class="slide-list" data-slide="list">
          <div class="slide-item" data-slide="item" data-index="0">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Guardians.png"
                alt="Guardians"
              />
              <div class="slide-description">
                <h3>Guardioes da Galaxia</h3>
                <p>O aventureiro do espaço Peter Quill torna-se presa de caçadores de recompensas depois que rouba a esfera de um vilão traiçoeiro</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="1">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Spider.png"
                alt="Spider"
              />
              <div class="slide-description">
                <h3>Homem Aranha no Aranhaverso</h3>
                <p>Após ser atingido por uma teia radioativa, Miles Morales, um jovem negro<br>do Brooklyn
                  se torna o Homem-Aranha, inspirado no legado do já falecido Peter Parker</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="2">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/FiveNigthsAtFredides.png"
                alt="FiveNigthsAtFredides"
              />
              <div class="slide-description">
                <h3>Five Nigths At Fredies</h3>
                <p>No Freddy Fazbear's Pizza, robôs animados fazem a festa das crianças durante o dia. <br> 
                  Mas, quando chega a noite, eles se transformam em assassinos psicopatas.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="3">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/TheLastOffUs.png"
                alt="TheLastOffUs"
              />
              <div class="slide-description">
                <h3>The Last off us</h3>
                <p>Uma série que adapta o aclamado jogo de vídeo game.Ambientada em um mundo <br> pós-apocalíptico, a história segue Joel, um sobrevivente endurecido, e Ellie, uma jovem corajosa,</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="4">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Halo.png"
                alt="Halo"
              />
              <div class="slide-description">
                <h3>Halo</h3>
                <p>Uma adaptacao da famosa serie de jogos de vídeo game. Master Chief, um super-soldado <br> 
                  defende a humanidade contra o Covenant, uma aliança de alienígenas fanáticos, no século 26.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="5">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/fallout.png"
                alt="Fallout"
              />
              <div class="slide-description">
                <h3>Fallout</h3>
                <p>Baseada em um dos maiores jogos de vídeo game de todos os tempos. <br> 
                  Fallout é a história dos que têm e dos que não têm em um mundo no qual quase não resta nada para se ter.
                   Duzentos anos após o apocalipse,</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="6">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/oppenheimer.png"
                alt="Oppenheimer"
              />
              <div class="slide-description">
                <h3>Oppenheimer</h3>
                <p>O físico J. Robert Oppenheimer trabalha com uma equipe de cientistas durante o Projeto Manhattan, levando ao desenvolvimento da bomba atômica.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="7">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/batman.png"
                alt="batman"
              />
              <div class="slide-description">
                <h3>Batman</h3>
                <p>Após dois anos espreitando as ruas como Batman, Bruce Wayne se encontra nas profundezas mais sombrias de Gotham City</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-controls" data-slide="controls-wrapper"></div>
      </div>
    </div>
    
    <div class="destaques">
      <h1>Filmes Populares</h1>
    </div>
    
    <main id="container" class="container carousel"></main>

    <div class="destaques">
      <h1>Filmes Mais Assistidos</h1>
      
    </div>
    <main id="container2" class="container carousel"></main>
    <div class="destaques">
      <h1>Séries Populares </h1>
    </div>
    <main id="container3" class="container"></main>
    <div class="destaques">
      <h1>Séries Mais Assistidas </h1>
    </div>
    <main id="container4" class="container"></main>
    

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <script src="/index.js"></script>
    <script src="../js/slides.js"></script>
    <script>
      initSlider({
        autoPlay: true,
        startAtIndex: 0,
        timeInterval: 5000,
      });
    </script>
  </body>
</html>
