<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/src/public/css/responsividade.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a0043d9bc2.js"
      crossorigin="anonymous"
    ></script>
    <title>The Movies Home</title>
  </head>
  <body>
    <nav>
      <div id="navBtn">
        <img src="../public/image/iconeMenu.png" alt="" />
      </div>

      <ul class="hide-on-mobile">
        <li class="activeSub"><a href="home.html">HOME</a></li>
        <li class="activeSub"><a href="filmes.html">FILMES</a></li>
        <li class="activeSub"><a href="series.html">SÉRIES</a></li>
      </ul>

      <div id="profileMenu" class="profile-menu">
        <a href="naoencontrado.html">Configurações</a>
        <a href="naoencontrado.html">Mudar Perfil</a>
        <a href="naoencontrado.html">Acessar Plano</a>
        <a href="index.html">Sair</a>
      </div>

      <img
        id="profile"
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
        alt=""
      />
    </nav>   

    <script src="/index.js"></script>
    <script src="./slides.js"></script>
    <script>
      initSlider({
        autoPlay: true,
        startAtIndex: 0,
        timeInterval: 2000,
      });
    </script>
  </body>
</html>
