<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/movie.css">
    <title>Detalhes</title>
</head>
<body onload="createCard()" >
    <nav>
        <div id="navBtn">
          <img src="../public/image/iconeMenu.png" alt="" />
        </div>

  </div>
        <ul class="hide-on-mobile">
          <li class="activeSub"><a href="home.html">HOME</a></li>
          <li class="activeSub"><a href="filmes.html">FILMES</a></li>
          <li class="activeSub"><a href="series.html">SÉRIES</a></li>
  </ul>
  
  
  
        <div id="profileMenu" class="profile-menu">
          <a href="naoencontrado.html">Configurações</a>
          <a href="naoencontrado.html">Mudar Perfil</a>
          <a href="naoencontrado.html">Acessar Plano</a>
          <a href="index.html">Sair</a>
        </div>
        
        <img
          id="profile"
          src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
          alt=""
        />
      </nav>

      <div class="backGroundContainer"></div>
      <div class="backGroundImg"></div>
      <div id="container" class="container"></div>
    

    </body>

   
    <script src="/movie.js"></script>
</body>
</html>