<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/public/css/stylelogin.css" />
    <link rel="stylesheet" href="/src/public/css/voltar.css" />
    <title>Cadastrar-se</title>
  </head>
  <body>
    <div class="container">

        <h1 style="text-align: center;">Essa página ainda não está disponível</h1>
        <p style="color: #ffffffbf; text-align: center;">Obrigado por testar meu site!</p>
        <a href="telainicial.html">Voltar</a>
    </div>
  </body>
</html>