<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/src/public/css/responsividade.css">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a0043d9bc2.js"
      crossorigin="anonymous"
    ></script>
    <title>The Movies Home</title>
  </head>
  <body>
    <nav>
      <div id="navBtn">
        <img src="../public/image/iconeMenu.png" alt="" />
      </div>
      <ul class="hide-on-mobile">
        <li class="activeSub"><a href="home.html">HOME</a></li>
        <li class="activeSub"><a href="filmes.html">FILMES</a></li>
        <li class="activePrincipal"><a href="series.html">SÉRIES</a></li>
      </ul>
      <div id="profileMenu" class="profile-menu">
        <a href="naoencontrado.html">Configurações</a>
        <a href="naoencontrado.html">Mudar Perfil</a>
        <a href="naoencontrado.html">Acessar Plano</a>
        <a href="index.html">Sair</a>
      </div>

      <img
        id="profile"
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
        alt=""
      />
    </nav>

    <div class="wrapper">
      <div class="slide-wrapper" data-slide="wrapper">
        <button
          class="slide-nav-button slide-nav-previous fas fa-chevron-left"
          data-slide="nav-previous-button"
        ></button>
        <button
          class="slide-nav-button slide-nav-next fas fa-chevron-right"
          data-slide="nav-next-button"
        ></button>
        <div class="slide-list" data-slide="list">
          <div class="slide-item" data-slide="item" data-index="0">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/b99.png"
                alt="b99"
              />
              <div class="slide-description">
                <h3>Brooklin 99</h3>
                <p>O despreocupado detetive Jake Peralta precisa aprender a seguir as regras <br>
                  E trabalhar em equipe quando um capitão exigente assume o comando de seu esquadrão</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="1">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/PeakBlinders.png"
                alt="PeakBlinders"
              />
              <div class="slide-description">
                <h3>PeakBlinders</h3>
                <p>Em 1919, um infame gangue de Birmingham é liderado pelo cruel Tommy Shelby <br>
                  Um patrão do crime determinado a conquistar o mundo a qualquer preço</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="2">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/OnePiece.png"
                alt="OnePiece"
              />
              <div class="slide-description">
                <h3>One Piece</h3>
                <p>o jovem pirata Monkey D. Luffy pega no seu chapéu de palha e zarpa com a sua tripulação em busca de um incrível tesouro.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="3">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/BreakingBad.png"
                alt="BreakingBad"
              />
              <div class="slide-description">
                <h3>Breaking Bad</h3>
                <p>Um professor do secundário com cancro do pulmão terminal junta-se a <br>
                  Um ex-aluno para fabricar e vender metanfetaminas como forma de garantir o futuro da sua família</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="4">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/SuperNatural.png"
                alt="SuperNatural"
              />
              <div class="slide-description">
                <h3>SuperNatural</h3>
                <p>A série segue os irmãos Sam Winchester e Dean Winchester que viajam por toda <br> 
                  América em um Chevrolet Impala 1967 preto investigando e combatendo eventos paranormais </p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="5">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/TheWalkingDead.png"
                alt="TheWalkingDead"
              />
              <div class="slide-description">
                <h3>The Walking Dead</h3>
                <p>Num mundo devastado por um apocalipse zombie, um peculiar <br> 
                  Grupo de sobreviventes trabalha em conjunto para encontrar a segurança e respostas </p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="6">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Vikings.png"
                alt="Vikings"
              />
              <div class="slide-description">
                <h3>Vikings</h3>
                <p>O ambicioso guerreiro Ragnar Lothbrok embarca em uma <br>
                  Missão arriscada para primeiro conquistar o apoio de seu povo, e depois usurpar o poder de Earl Haraldson</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="7">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/RickAndMorty.png"
                alt="RickAndMorty"
              />
              <div class="slide-description">
                <h3>Rick And Morty</h3>
                <p>Uma série animada que acompanha as aventuras e os descobrimentos de um <br>
                  super cientista Rick e seu neto Morty não muito brilhante. Completamente irresponsável</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-controls" data-slide="controls-wrapper"></div>
      </div>
    </div>

    <div class="destaques">
      <h1 style="color: white">Populares</h1>
    </div>

    <main id="container3" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Mais Vistos</h1>
    </div>

    <main id="container4" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Animação</h1>
    </div>

    <main id="container9" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Ação</h1>
    </div>

    <main id="container10" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Comedia</h1>
    </div>

    <main id="container11" class="container"></main>

    <div class="destaques">
      <h1 style="color: white">Drama</h1>
    </div>

    <main id="container12" class="container"></main>
    <script src="/index.js"></script>
    <script src="/slides.js"></script>
    <script>
      initSlider({
        autoPlay: true,
        startAtIndex: 0,
        timeInterval: 2000,
      });
    </script>
  </body>
</html>
