<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="/src/public/css/responsividade.css">
    <link rel="stylesheet" href="/src/public/css/carrosel.css ">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a0043d9bc2.js"
      crossorigin="anonymous"
    ></script>
    <title>The Movies Home</title>
  </head>
  <body>
    <nav>
      <div id="navBtn">
        <img src="../public/image/iconeMenu.png" alt="" />
      </div>

      <ul class="hide-on-mobile">
        <li class="activePrincipal"><a href="telainicial.html">HOME</a></li>
        <li class="activeSub"><a href="telafilmes.html">FILMES</a></li>
        <li class="activeSub"><a href="telaseries.html">SÉRIES</a></li>
        <li class="activeSub"><a href="minhalista.html">MINHA LISTA</a></li>
      </ul>
      

      <div id="profileMenu" class="profile-menu">
        <a href="naoencontrado.html">Configurações</a>
        <a href="naoencontrado.html">Mudar Perfil</a>
        <a href="naoencontrado.html">Acessar Plano</a>
        <a href="index.html">Sair</a>
      </div>

      <img
        id="profile"
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-88wkdmjrorckekha.jpg"
        alt=""
      />
    </nav>

    <div class="wrapper">
      <div class="slide-wrapper" data-slide="wrapper">
        <button
          class="slide-nav-button slide-nav-previous fas fa-chevron-left"
          data-slide="nav-previous-button"
        ></button>
        <button
          class="slide-nav-button slide-nav-next fas fa-chevron-right"
          data-slide="nav-next-button"
        ></button>
        <div class="slide-list" data-slide="list">
          <div class="slide-item" data-slide="item" data-index="0">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Guardians.png"
                alt="Guardians"
              />
              <div class="slide-description">
                <h3>Guardioes da Galaxia</h3>
                <p>um épico cósmico repleto de ação, humor e uma trilha sonora incrível que leva os espectadores a uma jornada intergaláctica emocionante.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="1">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Spider.png"
                alt="Spider"
              />
              <div class="slide-description">
                <h3>Homem Aranha no Aranhaverso</h3>
                <p>uma explosão de cores, emoção e originalidade que redefine o conceito de super-heróis ao explorar múltiplas versões do Homem-Aranha em universos paralelos.</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="2">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/FiveNigthsAtFredides.png"
                alt="FiveNigthsAtFredides"
              />
              <div class="slide-description">
                <h3>Five Nigths At Fredies</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="3">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/TheLastOffUs.png"
                alt="TheLastOffUs"
              />
              <div class="slide-description">
                <h3>The Last off us</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="4">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/Halo.png"
                alt="Halo 5"
              />
              <div class="slide-description">
                <h3>Halo 5</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="5">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/fallout.png"
                alt="Fallout"
              />
              <div class="slide-description">
                <h3>Fallout</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="6">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/oppenheimer.png"
                alt="Oppenheimer"
              />
              <div class="slide-description">
                <h3>Oppenheimer</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
          <div class="slide-item" data-slide="item" data-index="7">
            <div class="slide-content">
              <img
                class="slide-image"
                src="../public/image/batman.png"
                alt="batman"
              />
              <div class="slide-description">
                <h3>batman</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
              </div>
            </div>
          </div>
        </div>
        <div class="slide-controls" data-slide="controls-wrapper"></div>
      </div>
    </div>
    
    <div class="populares">
      <h1>Filmes Populares</h1>
    </div>
    
    <main id="container" class="container carousel"></main>

    <div class="populares">
      <h1>Filmes Mais Assistidos</h1>
    </div>
    <main id="container2" class="container carousel"></main>
    <div class="populares">
      <h1>Series Populares </h1>
    </div>
    <main id="container3" class="container"></main>
    <div class="populares">
      <h1>Series Mais Assistidas </h1>
    </div>
    <main id="container4" class="container"></main>
    

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>

    <script src="/index.js"></script>
    <script src="./slides.js"></script>
    <script>
      initSlider({
        autoPlay: true,
        startAtIndex: 0,
        timeInterval: 5000,
      });
    </script>
  </body>
</html>
